server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:${MYSQL_PORT}/${MYSQL_DATABASE}?useSSL=false&allowPublicKeyRetrieval=true
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

cloud:
  aws:
    credentials:
      access-key: test
      secret-key: test
    region:
      static: eu-central-1
    endpoint: http://localhost:${LOCALSTACK_PORT}
    s3:
        bucket-name: text-cleaner-uploads
        presigned-url-expiration-minutes: 15
    sqs:
        queue-name: text-cleaner-tasks